body {
  background-color: #f1efea;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120vh;
  margin: 10px;
}

.logo {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 35px;
}

.logo img {
  height: 90px;
  width: 300px;
}

.login-box {
  background-color: #fff;
  padding: 100px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 700px;
  margin-bottom: 10px;
}

.login-box h2 {
  margin-top: -60px;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}

.login-box p {
  font-size: 14px;
  text-align: center;
  color: #666;
  margin-bottom: 20px;
}

.login-box label {
  display: block;
  margin-bottom: 5px;
  font-weight: medium;
  font-size: 15px;
}

.login-options label{
  font-size: 14px;
  text-align: center;
  color: #666;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 12px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #B8B8B8;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.password-group {
  position: relative;
  margin-bottom: 20px;
}

.password-group input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  border-radius: 10px;
  background-color: #B8B8B8;
  border: none;
  font-size: 16px;
}

.toggle-icon {
  position:absolute;
  right: 10px;
  top: 40%;
  transform: translateY(50%);
  cursor: pointer;
  color: #A7A7A7;
}

.password-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  font-size: 14px;
}

.login-options input[type="checkbox"] {
  margin-right: 10px;
}

.login-options input[type="remember"]{
  color: #666;
}

.login-options a {
  color: #666;
  text-decoration: underline;
}

.login-box button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 10px;
  background-color: #ccc;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.click-but{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.click-register{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.click-register p{
  font-size: 13px;
  color: #666;
}

.login-box button:hover {
  background-color: #034b89;
}

.alert-login {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  background: #f8d7da;
  color: #842029;
  border-top: 2px solid #f5c2c7;
  text-align: center;
  font-size: 16px;
  z-index: 9999;
}

@media (max-width: 768px) {
  .login-box {
    width: 90%;
    padding: 100px;
  }

  .logo img {
    width: 200px;
    height: auto;
  }

  .login-box button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .login-box {
    width: 90%;
    padding: 20px;
  }

  .logo h1 {
    font-size: 24px;
  }

  .login-box h2 {
    font-size: 20px;
  }

  .login-box p {
    font-size: 13px;
  }

  .login-options {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .login-options a {
    align-self: flex-end;
  }
}