body {
    min-height: 100vh;
}

.sidebar-user-box {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    margin: 5px;
    background: #f8f9fa;
    border-radius: 10px;
    margin-bottom: 20px;
}

.user-avatar {
    font-size: 40px;
    color: #6c757d;
}

.user-info small {
    font-size: 15px;
    font-size: 'Segoe UI', sans-serif;
    color: #6c757d;
}

.user-info h6 {
    font-weight: 600;
    font-size: 20px;
}

.sidebar {
    width: 250px;
    min-height: 100vh;
    background-color: #bbdfff;
}

.sidebar a {
    color: #00000067;
    font-size: 'Segoe UI', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.sidebar btn {
    font-size: 'Segoe UI', sans-serif;
    font-size: bold;
}

.sidebar a:hover {
    background-color: #ffffff;
}

.content {
    margin-left: 250px;
}